/*font-family: 'Nunito Sans', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
:root {
    --col-main: #ff0000;
    --col-second: #28272C;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-title::before,
.section-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--col-main);
    margin: 10px;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--col-main);
    color: #ffffff;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(255, 0, 0, 0.3);
    display: inline-block;

}

.hero {
    height: 100vh;
    background: url(../images/image.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 600px;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);

}

.hero__arrow {
    width: 55px;
    height: 55px;
    background: var(--col-main);
    background-image: url("../images/Icon Arrow Down.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: -27px;
    left: 50%;
    box-shadow: 0 2px 3px rgba(255, 0, 0, 0.3);
    transform: translate(-50%, 0);

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255 0.2);

}

.header.sticky{
    background: #222;
    transition: 0.5s;
    height: 80px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.6);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.logo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    height: 47px;
    display: inline-flex;
    align-items: center;

}

.logo__icon {
    margin-right: 10px;
}

.logo span {
    color: var(--col-main);
}

.menu {
    height: 100%;
}

.menu__list {
    height: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu__list-el {

}

.menu__list-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;

}

.menu__list-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.banner {
    display: none;
    flex-grow: 1;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}

.banner-title {
    font-size: 90px;
    line-height: 1px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 0;

}

.banner-text {
    max-width: 920px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 40px 0;

}

.banner__buttons {
    display: flex;
    justify-content: center;


}

.banner__buttons-btn {
    width: 218px;
    height: 68px;
    background: var(--col-main);
    color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 12px;
    transition: 0.3s;


}

.banner__btn--main {

}

.banner__btn--secondary {
    background: white;
    color: var(--col-main);
}

.banner__buttons-btn:hover {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.5);
    transform: scale(1.1);

}

.banner__btn--secondary:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);

}


.section-blog {
    padding: 100px 0;

}

.blog-list {
    display: flex;

}

.blog-card + .blog-card {
    margin-left: 20px;

}

.blog-card__img {
    max-width: 100%;


}

.blog-card__title {
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;;
}

.blog-card__text {
    font-size: 14px;
    font-weight: 300;
    color: #6a6a6a;

}

.blog-card__btn {

}


.section-service {
    padding: 100px 0;
    background: #28272C;

}

.service-list {
    display: flex;


}

.service-card + .service-card {
    margin-left: 20px;

}

.service-card {
    text-align: center;
    padding: 0 15px;
}

.service-card__img {
    max-width: 100%;
    width: 170px;
    height: 170px;


}

.service-card__title {
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;;
    color: #fff;
}

.service-card__text {
    font-size: 14px;
    font-weight: 300;
    color: #6a6a6a;
    text-align: center;

}

.service-card__btn {

}

.section-title__service::before,
.section-title__service::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--col-main);
    margin: 10px;
}

.section-title__service {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*CONTACT///////////////////////////////*/

.contact{
    display: flex;

}

.contact_img{
    height: 316px;
    width: 444px;
    flex-shrink: 1;
    margin-right: 20px;

}

.contact-form{

}

.section .section-contact{

}

.section__title-contact{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__title-contact::before,
.section__title-contact::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--col-main);
    margin: 10px;
}


.form-label{
    position: absolute;
    left: -9999px;

}

.contact-form{

}

.form-row{
    margin-bottom: 20px;

}

input[type="text"],
input[type="email"]{
    width: 444px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;

}

input{
    padding: 5px;
}

textarea{
    width: 444px;
    height: 140px;
    border-radius: 8px;
}

.form-row__btn {
    width: 142px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FF00004D;
    border: 1px solid #FF0000;
    border-radius: 40px;
    opacity: 1;
    color: var(--col-main);
}

.form-checkbox{
    display: flex;
}

.form-checkbox__label{
    color: #B2B2B2;
    font-size: 14px;
    text-align: left;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
    box-shadow: 0px 1px 6px #FF00004D;
    border: none;
    border-radius: 8px;

}

.form-checkbox__input{
    height: 22px;
    width: 22px;
    border-radius: 8px;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-apperance: none;
    -moz-appearance: none;
    flex-shrink: 0;

}

.form-row__last{
    display: flex;
    justify-content: flex-end;
}

.section-footer {
    background:#28272C ;
    height: 233px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    display: flex;
    justify-content:space-between ;

}

.footer-head{
    margin-left: 100px;



}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1088px;


}

.menu-left,
.menu-right{

}

.menu-right__list {

margin-right: 150px;


}
.menu-left__list-el,
.menu-right__list-el{
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 3px 0;

}

.menu-right__list-link,
.menu-left__list-link{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family:'Nunito Sans', sans-serif;
    transition: 0.5s;
    list-style: none;

}


.menu-right__list-link:hover,
.menu-left__list-link:hover{
    text-decoration: none;
    color: var(--col-main);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family:'Nunito Sans', sans-serif;

}
.footer-end{
    display: flex;
    align-self: flex-end;

}

.coders{

    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    color: #D1D1D1;




}

